/* class 37 css */

.latest_section{}
.latest_section h4{
    color: #3763eb;
    font-size: 18px;
}
.latest_section h1{
    font-size: 50px;
    font-weight: 700;
    padding: 20px 0 50px 0;
    position: relative;
}
.latest_section h1::before {
    content: "";
    top: 100px;
    left: auto;
    height: 3px;
    width: 80px;
    background: #3763eb;
    position: absolute;
    right: 385px;
}
.latest_section p {
    font-size: 27px;
    color: #666;
}

/* btn_img css */
.tiam_desing{
    position: relative;
    display: flex;
}
.tiam_desing img{
   border-radius: 10px;
   max-width: 100%;
}
.btn_img {
    position: absolute;
    top: 206px;
    right: 29px;
    justify-content: center;
    border-radius: 50px;
    padding: 5px 9px;
    left: 209px;
    padding-bottom: 0px;
    color: #fff;
    background: #3763eb;
}
.btn_img img {
    width: 37px;
    height: auto;
}
.btn_img h2 {
    font-size: 14px;
    line-height: 34px;
}

.team_design_text h2 {
    font-size: 25px;
    font-weight: 700;
    padding: 36px 0;
}
.team_design_text p {
    font-size: 17px;
    font-weight: 600;
    color: #666;
}

/* fooder_section CSS*/
.fooder_section{
    background: #081828;
    padding: 90px 0;
    color: #fff;
    margin-top: 100px;
}
.fooder_section{}

.logo_section{
    /* color: #fff; */
}
.logo_section img {
    height: auto;
    width: 183px !important;
}
.logo_section h5 {
    padding: 30px 0 !important;
    line-height: 52px !important;
    font-size: 24px;
}
.sociail_logo{}
.sociail_logo i {
    color: #fff;
    padding: 39px 21px;
    font-size: 34px;
}

.pages_section{
    margin-left: 100px;
}
.pages_section h2 {
    font-weight: 700;
    margin-left: 20px;
    padding-bottom: 29px;
    position: relative;
}
.pages_section h2::before {
    content: "";
    top: 3px;
    left: -21px;
    position: absolute;
    height: 40px;
    width: 3px;
    background: #3763eb;
}
.pages_section h4{
    padding: 10px 0;
}


/* footer_button CSS */
.footer_button {
    border-top: 1px solid #fff;
    margin-top: 100px;
}
.footer_button h3{
    padding-top: 80px;
    color: #666;
}